{{ define "main" }}
<main
  class="lg:container mx-4 sm:mx-auto md:w-7/12 font-serif sm:w-3/4 lg:w-4/12"
>
  <ul>
    {{ range .Pages }}
    <li>
      <ul class="flex items-center justify-between">
        <li>{{ .Date.Format "January 02, 2006" }}</li>
        <li class="font-bold">
          {{ .ReadingTime }} <span class="text-sm font-normal">minutes</span>
        </li>
      </ul>
      <a href="{{.RelPermalink}}" class="text-2xl font-bold">{{ .Title }}</a>
      <p>{{ .Summary }}</p>
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}
