{{ define "main" }}
<main
  class="lg:container mx-4 sm:mx-auto md:w-7/12 sm:w-3/4 lg:w-6/12 xl:w-5/12 text-slate-900"
>
  <ul class="space-y-6">
    {{ range .Pages.ByPublishDate.Reverse }}
    <li class="border border-2 border-current p-2 shadow-hard">
      <ul class="flex items-center justify-between">
        <li>{{ .Date.Format "2006年01月02日" }}</li>
        <li>
          {{ .ReadingTime }} 分
        </li>
      </ul>

      <div class="content">
        <a href="{{.RelPermalink}} "class="hover:text-pink-600 text-2xl font-bold">{{ .Title }}</a>
        <div class="prose-sm prose-slate">
          <p>{{ .Summary }}</p>
        </div>
      </div>
      <ul class="flex flex-wrap items-center space-x-2 my-2">
        {{if .Params.Tags }}
          {{ range .Params.Tags | sort }}
          <li>
            <a
              href="/tags/{{. | urlize}}/"
              class="shadow-hard-sm border-current border-2 text-xs p-1 hover:text-pink-600"
              >{{.}}</a
            >
          </li>
          {{ end }}
        {{ end }}
      </ul>

    </li>
    {{ end }}
  </ul>
  {{ partial "katex.html" . }}
</main>
{{ end }}
