{{ define "main" }}
<main
  class=""
>
  <ul class="">
    {{ range .Pages.ByPublishDate.Reverse }}
    <li>
      <ul class="">
        <li>{{ .Date.Format "January 02, 2006" }}</li>
        <li class="">
          {{ .ReadingTime }} <span class="">{{ if eq .ReadingTime 1 }}minute{{ else }}minutes{{ end }}</span>
        </li>
      </ul>
      <ul class="">
        {{if .Params.Tags }}
          {{ range .Params.Tags | sort }}
          <li>
            <a
              href="/tags/{{. | urlize}}/"
              class=""
              >{{.}}</a
            >
          </li>
          {{ end }}
        {{ end }}
      </ul>
      <div class="content">
        <a href="{{.RelPermalink}}" class="">{{ .Title }}</a>
        <div class="">
          <p>{{ .Summary }}</p>
        </div>
      </div>
    </li>
    {{ end }}
  </ul>
  {{ partial "katex.html" . }}
</main>
{{ end }}
