{{ define "main" }}
  <article class="prose prose-slate px-4 mx-auto prose-p:text-justify hover:prose-a:text-pink-600">
    <aside class="not-prose">
      <ul class="flex justify-between">
        <li>{{ .Date.Format "2006年01月02日" }}</li>
        <li>
          {{ .ReadingTime }} 分
        </li>
      </ul>
      <ul>
      </span>
    </aside>
    <div>
    </div>
    {{ with .Title }}
      <h1 class="text-4xl font-bold mb-8">
        {{ . }}
      </h1>
    {{ end }}
    <div class="capitalize-start">
      {{.Content}}
    </div>
  </article>
{{ end }}
