@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */
.content p {
  @apply my-2;
  text-align: justify;
}
.content p code {
  @apply bg-gray-200;
  @apply rounded;
}

.content ul {
  list-style-type: disc;
  list-style-position: inside;
}

.content ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.note p code {
  background-color: #cde9f9;
  @apply rounded;
}

.content h1 {
  @apply text-3xl;
  @apply font-bold;
}

.content h2 {
  @apply text-2xl;
  @apply font-bold;
}

.content h3 {
  @apply text-xl;
  @apply font-bold;
}

.content a:visited {
  @apply text-gray-700;
}

.content a:hover,
a:visited:hover {
  @apply text-blue-500;
}

.highlight pre {
  @apply border-2;
  @apply border-gray-700;
  @apply rounded;
  @apply my-2;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  overflow: auto;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* VERY IMPORTANT: fractions are borked otherwise in katex */
*, ::after, ::before { border-color: #000 }

/* purgecss end ignore */
