{{ define "main" }}
<main
  class="lg:container mx-4 sm:mx-auto md:w-7/12 font-serif sm:w-3/4 lg:w-4/12"
>
  <ul class="space-y-8">
    {{ range .Pages.ByPublishDate.Reverse }}
    <li>
      <ul class="flex items-center justify-between">
        <li>{{ .Date.Format "January 02, 2006" }}</li>
        <li class="font-bold">
          {{ .ReadingTime }} <span class="text-sm font-normal">{{ if eq .ReadingTime 1 }}minute{{ else }}minutes{{ end }}</span>
        </li>
      </ul>
      <div class="content">
        <a href="{{.RelPermalink}}" class="text-xl font-bold">{{ .Title }}</a>
      </div>
      <ul class="flex flex-wrap items-center space-x-3 mb-1">
        {{ range .Param "note-tags" }}
        <li>
          <a
            href="/note-tags/{{. | urlize}}/"
            class="rounded bg-gray-200 hover:bg-blue-100 hover:text-blue-500 p-1 shadow-inner font-mono font-bold text-xs"
            >{{.}}</a
          >
        </li>
        {{ end }}
      </ul>
    </li>
    {{ end }}
  </ul>
  {{ partial "katex.html" . }}
</main>
{{ end }}
