{{ define "main" }}
<main
  class=""
>
  <ul class="space-y-8">
    {{ range .Pages.ByPublishDate.Reverse }}
    <li>
      <ul class="flex items-center justify-between">
        <li>{{ .Date.Format "January 02, 2006" }}</li>
        <li class="font-bold">
          {{ .ReadingTime }} <span class="">{{ if eq .ReadingTime 1 }}minute{{ else }}minutes{{ end }}</span>
        </li>
      </ul>
      <div class="content">
        <a href="{{.RelPermalink}}" class="">{{ .Title }}</a>
      </div>
      <ul class="flex flex-wrap items-center space-x-3 mb-1">
        {{ range .Param "note-tags" }}
        <li>
          <a
            href="/note-tags/{{. | urlize}}/"
            class=""
            >{{.}}</a
          >
        </li>
        {{ end }}
      </ul>
    </li>
    {{ end }}
  </ul>
  {{ partial "katex.html" . }}
</main>
{{ end }}
