{{ define "main" }}
<main
  class="lg:container mx-4 sm:mx-auto md:w-10/12 font-serif sm:w-3/4 lg:w-5/12"
>
  {{ $pages := where site.RegularPages "Type" "in" "[papers]"}}
  <ul class="space-y-8">
  {{ range $pages }}
    <li class="border border-2 border-current p-6 shadow-hard space-y-4">
        <div class="flex items-center justify-between">
          <div class="content">
            <a class="hover:text-pink-600 text-2xl font-bold" href="{{.Params.Link}}">
              {{ .Title }}
            </a>
          </div>
          <h1 class="text-lg whitespace-nowrap">
            {{ .Date.Format "2006年01月02日" }}
          </h1>
        </div>

        <ul class="flex flex-wrap items-center space-x-2">
          {{ range .Params.Author }}
          <li>
            <a
              class="shadow-hard-sm border-current border-2 text-xs p-1"
              >{{.}}</a
            >
          </li>
          {{ end }}
        </ul>
      <div class="sm:flex items-center space-x-8">
        {{ with (index (.Resources.Match "cover*") 0)}}
          <div class="mx-auto w-3/4 sm:w-2/5">
            <img src="{{.RelPermalink}}" class="rounded shadow" loading="lazy"></a>
          </div>
        {{ end }}
        <div class="sm:w-3/5 prose prose-slate hover:prose-a:text-pink-600 text-sm">
          {{ .Content }}
        </div>
      </div>

    </li>
  {{ end }}
  </ul>
</main>
{{ end }}
