{{ define "main" }}
<main
  class=""
>
  {{ $pages := where site.RegularPages "Type" "in" "[projects]"}}
  <ul class="">
  {{ range $pages }}
    <li class="">
      <div class="">
        <div class="">
          <a class="" href="{{.Params.Link}}">
            {{ .Title }}
          </a>
        </div>
        <h1 class="">
          {{ .Date.Format "January 2006"}}
        </h1>
      </div>

      <ul class="">
        {{ range .Params.Tech }}
        <li>
          <span
            class=""
            >{{.}}</span
          >
        </li>
        {{ end }}
      </ul>
      <div class="">
        {{ with (index (.Resources.Match "cover*") 0)}}
          <div class="">
            <img src="{{.RelPermalink}}" class="" loading="lazy"></a>
          </div>
        {{ end }}
        <div class="">
          {{ .Content }}
        </div>
      </div>

    </li>
  {{ end }}
  </ul>
</main>
{{ end }}